body {
    font-family: 'Rubik' !important;
}

.hide {
    display: none;
}

.no-padding {
    padding: 0 !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.quiz-card {
    width: 30rem;
    padding: 20px;
    background-color: rgb(212, 212, 212) !important;
    height: 680px !important;
}

.head {
    display: flex;
    justify-content: center;
    margin: var(--bs-card-spacer-y) var(--bs-card-spacer-x) 30px var(--bs-card-spacer-x);
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: darkgrey;
    border-radius: 5px;
}

.start-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 380px;
    margin: 0 var(--bs-card-spacer-x) var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-image: url(img/startscreen.png);
    background-size: 110%;
    border-radius: 5px;
    font-size: 18px;
}

.start-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--bs-card-spacer-x);
}

.progress {
    margin: 0 var(--bs-card-spacer-x) !important;
}

.card-title {
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: #e2efff;
}

.bg-success, .bg-danger {
    color: white;
}

.inner-container-endscreen {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 176, 86, 0.516);
    border-radius: 240px;
    max-width: 460px;
    margin: 0 auto;
}

.img-end {
    margin: 20px 0;
    width: 200px;
}

.score {
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .container {
        margin: 0 !important;
        max-width: unset !important;
    }

    .head {
        margin: 0 0 30px 0;
    }

    .card {
        width: 100%;
    }

    .start-img {
        background-position-y: center;
        margin: 0 0 var(--bs-card-spacer-y) 0;
    }
}