body {
    font-family: 'Rubik' !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
    padding: 20px;
    background-color: rgb(255, 255, 255) !important;
}

.card-title {
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: #e2efff;
}

.bg-success, .bg-danger {
    color: white;
}